<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script type="text/javascript" src="/javascript/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheet/index.css">
	<script type="text/javascript" src = "/javascript/index.js"></script>

</head>
<body>
	<div id="all">
		<form action="/info " method="post">
		<h1>用户注册</h1>
		<p id="errorInfo"><%= errorInfo %></p>
		<p>用户名<input type="text" name="username" id="username" value=""></p>
		<p>密码<input type="password" name="password" id="password" value=""></p>
		<p>确认密码<input type="password" name="passwordCheck" id="passwordCheck" value=""></p>
		<p>学号<input type="text" name="id" id="id" value=""></p>
		<p>电话<input type="text" name="phone" id="phone" value=""></p>
		<p>邮箱<input type="text" name="email" id="email" value=""></p>
		<p><input type="submit" id="submit" value="提交">
		<input type="button" id="reset" value="重置"></p>
	</div>

</body>
</html>
