<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script type="text/javascript" src="/javascript/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheet/signin.css">
	<script type="text/javascript" src = "/javascript/signin.js"></script>

</head>
<body>
	<div id="all">
		<form action="/check " method="post">
		<h1>用户登录</h1>
		<p id="errorInfo"><%= errorInfo %></p>
		<p>用户名<input type="text" name="username" id="username" value=""></p>
		<p>密码<input type="password" name="password" id="password" value=""></p>
		<p><input type="submit" id="submit" value="登录">
		<input type="button" id="regist" value="注册"></p>
	</div>
</body>
</html>
